.post-profile-image {
    width: 100%;              
    max-width: 300px;         
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;

  }
  .profile-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    cursor: pointer;

  }
  .profile-header img{
    width: 100%;
    max-width: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;

  }

  .profile {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
  }
  .profile-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    text-align: center;
  }
  .boutons{
}
  
