.header .authentification{
    position: absolute;    
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start; 
    gap: 8px;               
    padding: 10px;

}

.header .logo-title{
    position: absolute;    
    top: 0;
    left: 10px;
    display: flex;
    
}

.header .logo{
    height: 120px;
}


.header .logo-title a {
    text-decoration: none; 
    color: inherit; 
}
button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1d1d1d;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffffff;
    border-radius: 30px;
    margin-top: 65px;
  }
  
  button:hover {
    border-color: #7e78e9;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  @media (prefers-color-scheme: light) {
    :root {
      color: #0b0b0b;
      background-color: #000000;
    }
    a:hover {
      color: #151515;
    }
    button {
      background-color: #000000;
    }
  }
  .signup{
    background-color: rgb(9, 24, 132);
  }
  .logo{
    height: 40px;
    width: 130px;
  }
  

  @keyframes fadeOutUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .header.connection-faite .btn-login,
  .header.connection-faite .btn-signup {
    animation: fadeOutUp 2s forwards;
  }
  
  .header.connection-faite .btn-logout {
    animation: fadeInDown 2s ease forwards;
  }
  


.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 65px;
}

.nav-icons .icon {
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;

}

.nav-icons .icon:hover {
  color: #7e78e9;
}

.nav-icons .icon:active .btn-logout{
  transform: scale(0.9);
}

.header.connection-faite .nav-icons {
  animation: fadeInDown 1.5s ease forwards;
}
.nav-icons .btn-logout {
  margin-top: 0px; 
}
